@model dynamic

@{
    ViewBag.Title = "重庆晓杨建筑装饰工程有限公司-关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about-section">
    <div>
        <span>
            <article>公司介绍</article>
            <h6>COMPANY INTRODUCTION</h6>
        </span>
        <span></span>
    </div>
    <div></div>
    <div class="about-content">
        <article>
            <p>
                重庆晓杨建筑装饰工程有限公司是一家集量房、设计、施工为一体的专业化装饰公司。其前身为重庆市巴南区小杨装饰设计部，成立于2015年5月5日。在近几年的不断发展与壮大中，于208年12月28日正式更名为重庆市晓杨建筑装饰工程有限公司。自成立以来，晓杨装饰一直秉承着以诚为本，将心比心的原则，安全第一，质量至上的宗旨服务每一位客户。
            </p>
            <p>
                我们站在客户的角度，把每套房屋都当成自己的家来思考和设计，不会带来一种华而不实，实而不美的感觉。得到了业主的一致好评和信任。在多年的发展中，晓杨装饰一直以直营化的发展模式，不断完善和提高平台建设和施工工艺以及材料标准，同时，在“只做良心与精品”的服务理念下，晓杨装饰将不断锐意向前，研发创新，在企业管理、艺术创作、客户服务等方面，为服务平台注入更多新产品，新技术，新理念，为消费者提供全程可控、可视、系统、全面的家居装饰服务，让您装得放心，住得安心。
            </p>
            <div class="about-slogan">
                <div>
                    <p></p>
                </div>
            </div>
        </article>
    </div>

    <div class="about-server">
        <div class="about-word">服务宗旨</div><div class="about-first-line"></div>
        <div class="about-secend-line"></div>
    </div>
    <div class="about-server-parent">
        <div class="about-server-info">
            &nbsp;&nbsp;&nbsp;&nbsp;我们本着“以诚为本，立信天下”的宗旨。以诚信服务为原则，合同之前绝不隐藏收费项目，免费为您上门量房和提供设计方案，<span class="color_red">施工中绝不在合同以外多收业主一分钱</span>；以取信天下为目标，以瓶子建设为中心，绝不更换答应您的任何材料标准；致力于创造完美空间、展现精湛工艺，为您建设一个近乎完美舒适的家。
        </div>
    </div>

    <div class="about-server">
        <div class="about-word">品质保障</div><div class="about-first-line"></div>
        <div class="about-secend-line"></div>
    </div>
    <div class="about-server-parent">
        <div class="about-server-info">
            <div style="clear: left"></div>
            <span class="about-little-banner">设计</span>
            <div class="about-word">&nbsp;&nbsp;&nbsp;&nbsp;我们崇尚人性化、多元化、艺术化，更加强调功能、结构和形式的完整，追求材料、技术、空间的表现深度与精度，创造出别具风格且实用的工作和生活环境。</div>

            <span class="about-little-banner">选材质量及保证</span>
            <div class="about-word">&nbsp;&nbsp;&nbsp;&nbsp;我们对材料的瓶子要求以绿色环保为第一要素，严格控制选用材料的品牌，对其要求提供相关权威机构签发的检测报告和产品合格证书，直接与厂家对接，减少中间商利润环节，很好的减少了材料的成本，并有专人负责确保材料瓶子。<span class="color_red">如若发现任何材料与合同内容或者承诺不符属实，所有费用全部退还！</span></div>

            <span class="about-little-banner">施工工艺</span>
            <div class="about-word">&nbsp;&nbsp;&nbsp;&nbsp;我们有着严苛的要求和规范，依托工匠的精湛技艺，力求做工精细、完美，能够充分的体现出设计的精髓。</div>

            <span class="about-little-banner">售后服务</span>
            <div class="about-word">&nbsp;&nbsp;&nbsp;&nbsp;<span class="color_red">我们保证24小时内上门为您服务，以最好的态度和最快的速度，解除您的后顾之忧！</span></div>
        </div>
    </div>

    <div class="about-image-parent">
        <div class="about-image-left">
            <img src="@(ViewBag.RootNode)/Content/images/hai.png" />
        </div>
        <div class="about-image-right">
            <img src="@(ViewBag.RootNode)/Content/images/chengxin.png" />
        </div>
    </div>
    <div class="about-boom">
        <div class="about-boom-line"></div>
        <div class="triangle-topleft"></div>
        <div style="clear: both"></div>
        <div class="about-boom-word">
            &nbsp;&nbsp;&nbsp;&nbsp;全新的设计理念、专业的材料配送以及优质的售后服务，环环相扣，紧密衔接，确保了工程的高品质作业及整体的高效率运作。我们自成立以来先后完成了家居、别墅、办公室等百余个中、小型装饰装修工程的设计和施工，受到广大业主的一致好评。<br />&nbsp;&nbsp;&nbsp;&nbsp;我们将会以最实惠的装修价格、最真诚的服务体验、优良的材料品质、强大的施工力量、精湛的施工工艺、规范的施工管理、优质的售后服务，诚心以待，期待您的到来。
        </div>
    </div>
    @*<div class="about-box">
        <div class="about-leftbox">
            <img src="@(ViewBag.RootNode)/Content/images/banner4.jpg" alt="">
        </div>
        <div class="about-rightbox">
            <h1>企业文化</h1>
            <p>CORPORATE CULTURE</p>
            <article>我们的装饰一直秉承绿色的核心理念，以“贴近生活、用心服务、用爱做事”为企业核心文化价值。所有家具确保以最环保、安全、绿色为基础色调和核心基因，全心全意为您打造一个安全的、贴心的、精致的生活空间，环保、安全、精致不仅是对产品的用心打造，更是对员工、事业伙伴、用户、社会的责任和担当。</article>
        </div>
    </div>*@
</section>