@model dynamic

@{
    ViewBag.Title = "重庆晓杨建筑装饰工程有限公司-关于我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about-section">
    <div>
        <span>
            <article>公司介绍</article>
            <h6>COMPANY INTRODUCTION</h6>
        </span>
        <span></span>
    </div>
    <div></div>
    <div class="about-content">
        <article>
            <p>
                重庆晓杨建筑装饰工程有限公司是一家集量房、设计、施工为一体的专业化装饰公司。其前身为重庆市巴南区小杨装饰设计部，成立于2015年5月5日。在近几年的不断发展与壮大中，于208年12月28日正式更名为重庆市晓杨建筑装饰工程有限公司。自成立以来，晓杨装饰一直秉承着以诚为本，将心比心的原则，安全第一，质量至上的宗旨服务每一位客户。
            </p>
            <p>
                我们站在客户的角度，把每套房屋都当成自己的家来思考和设计，不会带来一种华而不实，实而不美的感觉。得到了业主的一致好评和信任。在多年的发展中，晓杨装饰一直以直营化的发展模式，不断完善和提高平台建设和施工工艺以及材料标准，同时，在“只做良心与精品”的服务理念下，晓杨装饰将不断锐意向前，研发创新，在企业管理、艺术创作、客户服务等方面，为服务平台注入更多新产品，新技术，新理念，为消费者提供全程可控、可视、系统、全面的家居装饰服务，让您装得放心，住得安心。
            </p>
            <div class="about-slogan">
                <div>
                    <p></p>
                </div>
            </div>
        </article>
    </div>

    <div class="about-box">
        <div class="about-leftbox">
            <img src="@(ViewBag.RootNode)/Content/images/banner4.jpg" alt="">
        </div>
        <div class="about-rightbox">
            <h1>企业文化</h1>
            <p>CORPORATE CULTURE</p>
            <article>我们的装饰一直秉承绿色的核心理念，以“贴近生活、用心服务、用爱做事”为企业核心文化价值。所有家具确保以最环保、安全、绿色为基础色调和核心基因，全心全意为您打造一个安全的、贴心的、精致的生活空间，环保、安全、精致不仅是对产品的用心打造，更是对员工、事业伙伴、用户、社会的责任和担当。</article>
        </div>
    </div>
</section>