@using xyzs.model.DatabaseModel

@{
    ViewBag.Title = "重庆晓杨建筑装饰工程有限公司";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="index-section">
    <div>
        <span></span>
        <span></span>
    </div>
    <div class="index-content">
        <section class="index-content-section-first"><div><img src="@(ViewBag.RootNode)/Content/images/sectionbanner.png" alt=""></div> </section>
        <section class="index-content-section-second">
            <div>
                <div class="index-auto">
                    <article>公司介绍</article>
                    <h6>COMPANY INTRODUCTION</h6>
                    <main>重庆晓杨建筑装饰工程有限公司是一家集量房、设计、施工为一体的专业化装饰公司。其前身为重庆市巴南区小杨装饰设计部，成立于2015年5月5日。在近几年的不断发展与壮大中，于208年12月28日正式更名为重庆市晓杨建筑装饰工程有限公司。自成立以来，晓杨装饰一直秉承着以诚为本，将心比心的原则，安全第一，质量至上的宗旨服务每一位客户。我们站在客户的角度，把每套房屋都当成自己的家来思考和设计，不会带来一种华而不实，实而不美的感觉……</main>
                    <a class="index-button" href="@Url.Action("About","Home")">查看详情</a>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="index-margin-bottom">
    <div class="index-morecase">
        <span></span>
        <a href="#">MORE &#62; &#62;</a>
    </div>
    <div class="index-content">


        <div class="new-index">
            <ul>
                <li><img src="@(ViewBag.RootNode)/Content/images/productlogo.png" alt=""> </li>
                <li>
                    <a href="article_list_content.html">
                        <h3>怎么搭配茶几与沙发?</h3>
                        <article>
                            在现代居住空间里面，有沙发的地方似乎总也少不了
                            茶几的身影。尤其在现代客厅里，一款实用、时尚的
                        </article>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="article_list_content.html">
                        <h3>家具有哪些类型?</h3>
                        <article>
                            按家具从风格上可以分为：现代家具、欧式古典家具、
                            美式家具、中式古典家具（也就是红木家具），还有
                        </article>
                    </a>
                </li>
                <li>
                    <a href="article_list_content.html">
                        <h3>实木家具需保养防开裂</h3>
                        <article>
                            实木家具越来越受人们的欢迎，有很多业主在装修时
                            都选择实木家具。但是他们购买之后不对它进行保养
                        </article>
                    </a>
                </li>
                <li>
                    <a href="article_list_content.html">
                        <h3>卧室如何选择合适的衣橱家具色彩</h3>
                        <article>
                            要选择合适的家具色彩，首先要符合个人爱好，又要
                            注意与房间的大小、室内光线的明暗相结合，并且要
                        </article>
                    </a>
                </li>
                <li>
                    <a href="article_list_content.html">
                        <h3>韩派办公家具制作工艺过程</h3>
                        <article>
                            苏州韩派办公家具制作工艺过程，品牌办公家具厂家
                            都具有一整套生产流程，通过对工艺流程的规范以及
                        </article>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>

